/**
 * Stylesheet for the employee directory
 * 
 * This times special: css custom variables
 **/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --main-margin : 10px;
    --background-color : #fcfcfc;

    --color : #4a4a4a;
    --card-main-font-color : #404a51;
    --card-secondary-font-color : #979c9f;
    --card-border : #dfdfdf;
    --card-background-color : #ffffff;
    --card-background-color--hover : #dfdfdf;

    --transition-speed: 0.15s;

    margin: calc( var(--main-margin) * 2 );
    background-color : var(--background-color);

    font-size: 10pt;
}

/**
 * Employee Directory Styles
 **/
.employee-directory-section {
    color : var(--color);
    width : 100%;
}


/* 3 column design, well actually a flexible 
 * design but in the screen width of my laptop
 * its 3 columns, on mobile its one column, 
 * on desktop its more columns depending on screen 
 * size...
 */
.employee-directory {
    display: flex;
    flex-wrap: wrap;
    
    grid-gap: calc( var(--main-margin) * 2 );

    margin-top: calc( var(--main-margin) * 2 );
    margin-bottom: calc( var(--main-margin) * 2 );
}


.employee-card {
    --image-size : 110px;

    display: grid;
    grid-template-columns: calc( var(--image-size) + var(--main-margin) + var(--main-margin) ) auto;

    border : 1px solid var(--card-border);
    border-radius: var(--main-margin);
    background-color : var(--card-background-color);

    padding: calc( var(--main-margin) * 2 );
    transition: background-color --var(--transition-speed) linear;
    cursor: pointer;

    min-width: 400px;
    max-width: 450px;
    width: 32.0000%;

    margin-right: var(--main-margin);
    margin-bottom: var(--main-margin);

    flex-grow: 1;
    flex-basis: 0;
}

.employee-card:hover {
    background-color : var(--card-background-color--hover);
}

.employee-card_image {
    border-radius: 50%;
    height: var(--image-size);
    width: var(--image-size);
    background-position: center center;
}

.employee-card_details {
    margin-top: auto;
    margin-bottom: auto;

    --card-detail-row-padding: 1em;
}

.employee-card_details_name {
    color: var(--card-main-font-color);
    font-weight: bold;
    padding-bottom: var(--card-detail-row-padding);
}

.employee-card_details_email {
    color: var(--card-secondary-font-color);
    padding-bottom: calc( var(--card-detail-row-padding) * 0.66666 );
}

.employee-card_details_state {
    color: var(--card-secondary-font-color);
    padding-bottom: calc( var(--card-detail-row-padding) * 0.66666 );
}

/* Loading animation: 3 dots in a row */
@keyframes dot-1-animation {
    0%   { opacity: 0;    }
    16%  { opacity: 0.34; }
    32%  { opacity: 0.67; }
    48%  { opacity: 1;    }
    64%  { opacity: 0.67; }
    80%  { opacity: 0.34; }
    100% { opacity: 0;    }
}

@keyframes dot-2-animation {
    0%   { opacity: 0.67; }
    16%  { opacity: 0.34; }
    32%  { opacity: 0;    }
    48%  { opacity: 0.34; }
    64%  { opacity: 0.67; }
    80%  { opacity: 1;    }
    100% { opacity: 0.67; }
}

@keyframes dot-3-animation {
    0%   { opacity: 0.67; }
    16%  { opacity: 1;    }
    32%  { opacity: 0.67; }
    48%  { opacity: 0.34; }
    64%  { opacity: 0;    }
    80%  { opacity: 0.34; }
    100% { opacity: 0.67; }
}

.dot1 {
    animation: dot-1-animation 2s infinite;
}

.dot2 {
    animation: dot-2-animation 2s infinite;
}

.dot3 {
    animation: dot-3-animation 2s infinite;
}

.modal-overlay {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    width: 33.3333%; 
    min-width: 400px;
    max-width: 500px;
    border-radius: var(--main-margin);

    border : 1px solid var(--card-border);
    border-radius: var(--main-margin);
    background-color : var(--card-background-color);

    /* A bit bigger margins for the sub-elements please... :) */
    --main-margin: 12px;
}

.modal-content__closebutton {
    float : right;
    padding: calc( var(--main-margin) / 2 );
    font-size: 1.15em;
    border-radius: var(--main-margin);
    cursor: pointer;
    transition: background-color var(--transition-speed) linear;
}


.modal-content__closebutton:hover {
    background-color: var(--card-background-color--hover);
}

.modal-content__details-and-navigation {
    display: grid;
    grid-template-columns: 20px auto 20px;
    clear: both;
}

.modal-content__navigate-left {
    padding: calc( var(--main-margin) / 2 );
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid var(--card-background-color); 
    margin-top: 11.5em;
    transition: border 0.2s linear;
}

.arrow-left.active {
    border-right:10px solid var(--card-secondary-font-color); 
}

.arrow-left.active:hover {
    border-right:10px solid var(--card-main-font-color);   
    cursor: pointer; 
}

.arrow-left:hover {
    border-right:10px solid var(--card-secondary-font-color);    
    cursor: not-allowed; 
}



.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-left:10px solid var(--card-background-color); 
    margin-top: 11.25em;
    transition: border 0.2s linear;
}

.arrow-right.active {
    border-left:10px solid var(--card-secondary-font-color); 
}

.arrow-right.active:hover {
    border-left:10px solid var(--card-main-font-color);   
    cursor: pointer; 
}

.arrow-right:hover {
    border-left:10px solid var(--card-secondary-font-color);    
    cursor: not-allowed; 
}

.modal-content__navigate-right {
    padding: calc( var(--main-margin) / 2 );
}

.modal-content__details {
    text-align: center;
}

.modal-content__image img {
    border-radius: 50%;
    margin: calc( var(--main-margin) * 2 );
    margin-top: 0px;
}

.modal-content__name {
    color: var(--card-main-font-color);
    margin: var(--main-margin);
    font-weight: bold;
}

.modal-content__email {
    color: var(--card-secondary-font-color);
    margin: var(--main-margin);
}

.modal-content__email a {
    color: var(--card-secondary-font-color);
    text-decoration: none;
}

.modal-content__state {
    color: var(--card-secondary-font-color);
    margin: var(--main-margin);
}

.modal-content__divider {
    color: var(--card-secondary-font-color);
    margin: calc( var(--main-margin) * 2 );
}

.modal-content__divider hr {
    background-color: var(--card-secondary-font-color);
    border: 0 none;
    height: 1px;
}

.modal-content__phoneNr {
    color: var(--card-secondary-font-color);
    margin: var(--main-margin);
}

.modal-content__location {
    color: var(--card-secondary-font-color);
    margin: var(--main-margin);
}

.modal-content__birthday {
    color: var(--card-secondary-font-color);
    margin: var(--main-margin);
}


.header {
    min-height: 2em;
}

.header h1 {
    float: left;
}

.searchbox {
    float:right;
    max-width: 300px;
    min-width: 100px;
    width: 33%;
    display: grid;
    grid-template-columns: auto 40px;
}


.searchbox-query {
}

.searchbox-query input {
    width: 100%;
    border-radius: var(--main-margin);
    padding : var(--main-margin);
    font-size: 10pt;
}

.searchbox-icon {
}

/* 
    Add a breakpoint for the search box:
    On small screens we want the search box to appear below
    the headline and use the full width.
*/
@media screen and (max-width: 799px) {
    .header h1 {
        float: none;
    }
    .searchbox {
        float: none;
        margin-top: var(--main-margin);
        max-width: none;
        min-width: none;
        width: 100%;
    }
    .employee-card {
        width: 100%;
        min-width: none;
        max-width: none;
    }
}
