/**
 * Stylesheet for the employee directory
 * 
 * This times special: css custom variables
 **/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --main-margin : 10px;
    --background-color : #fcfcfc;

    margin: calc( var(--main-margin) * 2 );
    background-color : var(--background-color);

    font-size: 10pt;
}

/**
 * Employee Directory Styles
 **/
.employee-directory-section {
    --color : #4a4a4a;
    --card-main-font-color : #404a51;
    --card-secondary-font-color : #979c9f;
    --card-border : #dfdfdf;
    --card-background-color : #ffffff;

    color : var(--color);
}


/* 3 column design */
.employee-directory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc( var(--main-margin) * 2 );

    margin-top: calc( var(--main-margin) * 2 );
    margin-bottom: calc( var(--main-margin) * 2 );
}

.employee-card {
    --image-size : 110px;

    display: grid;
    grid-template-columns: calc( var(--image-size) + var(--main-margin) + var(--main-margin) ) auto;

    border : 1px solid var(--card-border);
    border-radius: var(--main-margin);
    background-color : var(--card-background-color);

    padding: calc( var(--main-margin) * 2 );
}

.employee-card_image {
    border-radius: 50%;
    height: var(--image-size);
    width: var(--image-size);
    background-position: center center;
}

.employee-card_details {
    background-color: var(--card-background-color);
    margin-top: auto;
    margin-bottom: auto;

    --card-detail-row-padding: 1em;
}

.employee-card_details_name {
    color: var(--card-main-font-color);
    font-weight: bold;
    padding-bottom: var(--card-detail-row-padding);
}

.employee-card_details_email {
    color: var(--card-secondary-font-color);
    padding-bottom: calc( var(--card-detail-row-padding) * 0.66666 );
}

.employee-card_details_city {
    color: var(--card-secondary-font-color);
    padding-bottom: calc( var(--card-detail-row-padding) * 0.66666 );
}

/* Loading animation: 3 dots in a row */
@keyframes dot-1-animation {
    0%   { opacity: 0;    }
    16%  { opacity: 0.34; }
    32%  { opacity: 0.67; }
    48%  { opacity: 1;    }
    64%  { opacity: 0.67; }
    80%  { opacity: 0.34; }
    100% { opacity: 0;    }
}

@keyframes dot-2-animation {
    0%   { opacity: 0.67; }
    16%  { opacity: 0.34; }
    32%  { opacity: 0;    }
    48%  { opacity: 0.34; }
    64%  { opacity: 0.67; }
    80%  { opacity: 1;    }
    100% { opacity: 0.67; }
}

@keyframes dot-3-animation {
    0%   { opacity: 0.67; }
    16%  { opacity: 1;    }
    32%  { opacity: 0.67; }
    48%  { opacity: 0.34; }
    64%  { opacity: 0;    }
    80%  { opacity: 0.34; }
    100% { opacity: 0.67; }
}

.dot1 {
    animation: dot-1-animation 2s infinite;
}

.dot2 {
    animation: dot-2-animation 2s infinite;
}

.dot3 {
    animation: dot-3-animation 2s infinite;
}